body {
  margin: 0;
}

.auth-container {
  background-color: #052224;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  text-align: center;
}

.btnConfirm{
  background-color: #00D09E;
  border: none;
  border-radius: 30px;
  width: 170px;
  height: 40px;
}

.btnlogin {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: none;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #093030;
  border-radius: 30px;
  }

  .auth-options {
    width: 220px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

.auth-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.btnAlt{
  width: 160px;
}

.auth-links span {
  color: white;
  cursor: pointer;
  margin: 5px 0;
}

.inputField {
  display: flex;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  width: 400px;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inputField input {
  border: none;
  outline: none;
  flex-grow: 1;
  width: 360px;
  height: 30px;
  border-radius: 16px;
  padding-left: 30px;
  background-color: #DFF7E2;
  transition: all 0.3s;
}

.inputField svg {
  top: 24px;
  bottom: 0;
  margin: auto 0;
  right: 30px;
  position: absolute;
  color: #0E3E3E;
  cursor: pointer;
}

.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.back-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;

}

.form-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  margin: 0;
  align-items: center;  
}
