
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo img {
    width: 160px;
  }
  
  .logo h1 {
    color: white;
  }

  /* src/style.css */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
